[2016-07-15 08:36] roflomglol commented on #1224
Welp, I know what's the case. It seems that {} and do/end have different priority or something. Using () around input parameters solved the problem. Sorry for bothering.

[2016-07-15 08:36] #1224 closed

[2016-08-12 16:18] bsylvain opened #1225 "Handling STI in generic form"
I have a generic form (new and edit) handling STI. I want the form to always use the parent controller.

I have a working form but it feels a little hacky  (final version would probably involve an helper) :

[code]

Is there a way to do this without the ternary operator?

[2016-08-13 15:16] jess opened #1226 "undefined method `safe_join' on rails 3.2.22.3"
Just upgraded to rails 3.2.22.3 (http://weblog.rubyonrails.org/2016/8/11/Rails-5-0-0-1-4-2-7-2-and-3-2-22-3-have-been-released/) and am getting this error `undefined method 'safe_join' for #<ActionView::Helpers::InstanceTag:0x007fa933677260>`. I tracked it back to formtastic. Guess the security fix in rails broke formtastic. Here's a sample app with just rails and formtastic: https://github.com/je

[2016-08-15 15:27] 11449 commented on #1226
Actually this is a bug in ActionView::Helpers::TagHelper itself, see: https://github.com/rails/rails/commit/4bcccf5ecd81a6272479537911b7d9760c5be164

They fix this one in version 3.2.22.4.

[2016-08-16 12:00] jess commented on #1226
nice, shall we close?

[2016-08-16 13:02] 11449 commented on #1226
yep.

[2016-08-16 13:31] #1226 closed

[2016-08-17 11:08] sandfoxme commented on #1151
plz reopen. i have a fix, PR incoming

[2016-08-19 13:36] nicolas-besnard opened #1228 "Numericality validation problem"
When using `numericality` with `greater_than: :other_field` where `:other_field` is a field on your model, the [following line](https://github.com/justinfrench/formtastic/blob/master/lib/formtastic/inputs/base/validations.rb#L103) break.

My code:

[code]

[2016-09-07 04:37] cheeby commented on #1226
excellent.  thanks for this.

[2016-09-19 18:10] MaicolBen commented on #13
@justinfrench This continue working? Because I tried with `date_select` and `date_picker` and the `start_year` and `end_year ` params don't seem to work.

[2016-09-19 22:54] justinfrench commented on #13
@MaicolBen can you open a new issue with as much detail as possible about what's happening (or not happening) for you?

[2016-10-18 00:44] voyera commented on #1197
Just have to say keep up the good work guys, this is great!

[2016-11-16 08:27] RemoteCoder commented on #1090
http://stackoverflow.com/questions/40604843/active-admin-nested-form-not-working-error-too-many-arguments-for-format-string

Could u plz provide me the solution. Its work on my localhost in both development and production mode but not works in production server

[2016-11-16 19:54] liznet opened #1231 "support for foundation zurb"
Is there any support for foundation zurb?

[2016-11-18 04:36] justinfrench commented on #1090
@RemoteCoder I've had a quick read of the stack overflow post, and based on the error messages you've provided, I think you should be raising an issue on ActiveAdmin, not Formtastic. If you disagree, please open a _new issue_ on Formtastic, and please provide a full backtrace of the exception.

[2016-11-20 17:34] RemoteCoder commented on #1090
@justinfrench solution is below: after searching on google last 2 week not find any solution. One fo developer suggest me to use :
 f.semantic_fields_for "StateImage"
After that my solution is:
Formtastic requires you to wrap ALL inputs in an "inputs" block. So this should be:

    f.inputs 'Campaign Image' do
          f.semantic_fields_for :campaign_image, (f.object.campaign_image || CampaignIma

[2016-11-23 06:20] sadaf2605 opened #1233 "f.template.image_tag(…) showing an extra hash at form"
At active admin, I have this following code:

[code]
It shows a class hash at the form,
![screen shot 2016-11-23 at 12 10 45 pm](https://cloud.githubusercontent.com/assets/2094165/20552619/0583f7b4-b177-11e6-8311-c141f80411b3.png)

Also asked at stackoverflow if it is I am doing something wrong: http://stackoverflow.com/questions/40757328/activeadmin-formtastic-f-template-image-tag-showing-an-extr

[2016-12-05 12:38] alekseyl opened #1234 "Detect maxlength from validation rules."
I think something like this would be very nice:

[code]

[2016-12-05 15:10] mikz commented on #1233
Can you reproduce the issue with plain formtastic without activeadmin ?

[2017-01-10 01:14] dallas commented on #1059
There’s also the case of custom defined enum values, as in:

[code]

We’ve found that in this case we have to do this in `ActiveAdmin` (which uses Formtastic under the hood):

[code]

Which works just fine, but maybe that should be the default for such an enum input if Formtastic decides to support it?

[2017-01-10 01:33] dallas commented on #1059
I see that Formtastic does support enums now (as `collection_from_enum`) but it assumes the array-style syntax which also assumes integer values. Even the Rails enum docs only gives an example of using custom integer values in the hash-style syntax, but we had string columns already with values and we were delighted to discover that if you supply custom string values to your enum keys, it’ll just

[2017-01-10 04:39] justinfrench commented on #1059
Hi @dallas, feel free to create an issue, but the reality is I probably won't be motivated to implement any time soon since there seems to be a work-around. A well-defined issue with examples would make it more likely,. but really, a pull-request is the way to give it the best chance ;)

[2017-01-17 22:42] lauraeci opened #1237 "how to modify the default min and max years for date inputs"
![screen shot 2017-01-17 at 12 24 02 pm](https://cloud.githubusercontent.com/assets/1151330/22043000/78507cce-dcc2-11e6-8677-ca262b2f84e6.png)

I'm using a date input type and would like to know how to customize the min and max date range. Currently, all my employees have birthdates after 2012.  I would prefer not to use the Datepicker as I like the ability to select from a dropdown of years and n

[2017-01-17 23:41] lauraeci commented on #1237
Found the solution in a Rails cast: http://railscasts.com/episodes/184-formtastic-part-1?view=asciicast

It would be useful to have the start_year option in the docs.  Thank you.

[2017-01-17 23:41] #1237 closed

[2017-01-18 08:46] mikz commented on #1237
@lauraeci contributions always welcome!

[2017-01-18 20:53] lauraeci commented on #1237
Hi @mikz, happy to help add documentation.  Let me know how and where to add it and I can take a stab at a doc PR.

[2017-01-18 21:47] mikz commented on #1237
@lauraeci I think that could be good if you could think of a way where you'd look for this documentation. Because if we would put it on a place, where you didn't look, it would not help.

Not sure if you checked RDoc, Wiki or just the Readme.

[2017-02-03 19:16] maxpark-jd commented on #498
Thanks @gabeodess and @justinfrench ! This is a five year old thread but it helped. I checked the documentation first but it led me to use an array of objects rather than an array of ids of the objects. It would be easier to understand if we clarify the document explaining to use an array of ids than objects themselves.

[2017-02-03 20:47] justinfrench commented on #498
@maxpark-jd documentation patch welcome!

[2017-02-11 12:00] Fivell opened #1240 "default_columns_for_object returns duplicates"
refs https://github.com/activeadmin/activeadmin/issues/3828

Example
[code]

When trying to build form for such configuration  it displays duplicated inputs for each association.

After debugging I detected problematic method
[code]

method ```default_columns_for_object```

[code]

~~for  this case  ```disclosed_from_orid``` and  ```disclosed_to_orid``` exists in both~~

[code]
and
[code]

I think

[2017-02-11 12:03] Fivell commented on #1240
btw @justinfrench  maybe formtastic has possibility to override ```default_columns_for_object``` ?

[2017-02-12 17:08] Fivell commented on #1240
cc @mikz

[2017-02-13 07:27] mikz commented on #1240
I see. I suppose the column names are all symbols/strings ? Would it make sense to use set instead or call `.uniq` ? It is hard to imagine a scenario where you'd like to have duplicates.

Would be good to have some example schema of the model. The original issue says it shows two drop downs and two text fields which would not indicate a symbol/string array.

[2017-02-13 07:58] Fivell commented on #1240
@mikz ,

 it shows
dropdown for ```disclosed_to_org```   because is returned by ```association_columns(:belongs_to)```
dropdown for ```disclosed_from_org``` because is returned by ```association_columns(:belongs_to)```
input for  ```disclosed_from_orid```  because is returned by ```content_columns```
and input for ```disclosed_to_orid```  because is returned by ```content_columns```

Formtastic th

[2017-02-13 08:09] mikz commented on #1240
So it falls apart when using custom foreign keys that don't end with `_id`, right?

I'd say to fix this properly the  `content_columns` method should detect and check if there are any associations defined with that foreign key.

[2017-02-13 09:06] Fivell commented on #1240
@mikz , right, but ```content_colums``` is rails method and it doesn't check foreign keys at all.
see this http://apidock.com/rails/ActiveRecord/ModelSchema/ClassMethods/content_columns

[2017-02-13 09:55] mikz commented on #1240
Formtastic wraps it in its own `content_columns` https://github.com/justinfrench/formtastic/blob/b104bb1fe5228ea37f668917b13d0888f8bd033a/lib/formtastic/helpers/inputs_helper.rb#L353-L359
So it can easily filter columns that belong to associations.

[2017-02-13 09:56] Fivell commented on #1240
@mikz , ok now I see, so you're confirming this is bug in formtastic ```content_columns```  ?

[2017-02-13 10:01] mikz commented on #1240
I'm not calling it a bug. It is definitely an edge case and filtering those `content_columns` would be an improvement to the auto detection feature.

But yes, this should be implemented on Formtastic side. Contributions welcome.

[2017-02-13 10:02] mikz commented on #1231
What would that mean? Allowing changing of the html classes/ids ?

Formtastic does not support any specific css framework.

[2017-02-13 10:03] mikz commented on #1225
Why this does not work with plain formtastic ? Does this work with plain rails?

[2017-02-13 10:04] Fivell commented on #1240
@mikz , would be nice if you could assist me about where I can put test for this , because I'm not familiar with formtastic test infrastructure

[2017-02-13 10:13] mikz commented on #1240
It is pity, that the helper methods are protected.

So I'd extract those content/association methods into a class like `Formtastic::ColumnDetection` and test it independently. And just delegate from those old helpers to the new class.

Then one integration test in https://github.com/justinfrench/formtastic/blob/b104bb1fe5228ea37f668917b13d0888f8bd033a/spec/helpers/inputs_helper_spec.rb would have

[2017-02-13 10:23] Fivell commented on #1240
@mikz , need time to investigate this, not sure I will be able to do this next days

[2017-02-13 10:33] mikz commented on #1240
We have ongoing 4.0 release that takes more time than I wanted. So you have plenty of time to make it into 4.0.

[2017-02-13 13:11] Fivell commented on #1240
@mikz , I will add failing test case as first step

[2017-02-15 12:03] #1240 closed

[2017-02-16 01:12] Mbuckley0 opened #1243 "Patch for version 3.1.4 to fix ruby 2.4 deprecation warnings"
Is it possible to do a patch release of version 3.1.4 to fix the deprecation warnings after upgrading to ruby 2.4

[2017-02-16 08:15] mikz commented on #1243
That would be backporting https://github.com/justinfrench/formtastic/pull/1235 right?

Can you confirm all deprecation warnings are gone with that? Then I could prepare a tag but @justinfrench would have to do the actual release to rubygems.

[2017-02-16 09:32] Mbuckley0 commented on #1243
I can confirm that using that branch removes all of the formtastic deprecation warnings.

[2017-03-02 03:56] #1243 closed

[2017-03-03 14:02] juggleross commented on #867
It's work for me:
`  permit_params category_ids: []
input :category_ids, collection: Category.all.collect {|x| [x.name, x.id]}, as: :select, multiple: true, input_html: { class: "chosen-input",  style: "width: 700px;"}`

[2017-04-14 15:36] danielricecodes commented on #184
Thought I'd make an update here.  You can also use `grouped_options_for_select` if the `option_groups_from_collection_for_select` doesn't work with your particular use case.  For me, I had a Rails STI table of Options that I needed to convert into a multiple select box.  I munged on my data using this particularly unreadable bit of Ruby code...the end result is a hash that `grouped_options_for_sel

[2017-06-01 22:37] maysam commented on #795
this works

      f.li "<label class='label'>Name</label><span>#{f.object.name || '-'}</span>".html_safe

[2017-06-22 16:28] mattgibson commented on #795
`f.template.concat "<h1>Your Ad Here</h1>".html_safe`

[2017-07-06 13:04] ChistobAlex opened #1245 "The problem with element hiding"
Hi,
In fromtastic ActiveAdmin: If you specify the item that he had hidden, it still remains visible surrounding the block "if".
The illustration attached
![2017-07-06_15-56-00 2](https://user-images.githubusercontent.com/20241964/27912240-c75a4a98-6264-11e7-8dd8-d9d76c803bd5.png)
![2017-07-06_15-56-49](https://user-images.githubusercontent.com/20241964/27912241-c77fa4e6-6264-11e7-9ac4-b5b2e673a47d

[2017-07-07 02:02] javierjulio commented on #1197
@mikz in your first todo list, it seems that "support for Rails 5 Attributes API (#1188)" should be marked completed since PR was merged. Is a v4 release of Formtastic still planned? Anyone pushing that through or has effort died out?

[2017-07-07 05:31] mikz commented on #1197
@javierjulio thanks for checking. Marked it as done.

It was just me pushing through and I could not find the time lately. I guess

What would help is someone trying the git branch and checking if there are any issues with the upgrade. Then we could mark the beta release I guess.

[2017-07-07 05:33] mikz commented on #1245
Why not just use hidden input type?

[2017-07-07 19:44] javierjulio commented on #1197
@mikz I'm asking since myself and a few others are new maintainers of ActiveAdmin. Formtastic gem is pretty important to us so we'd like to see it continue or look for a new solution. It seems the work is here it just needs some attention and a release. One of the last PR's you took was from @Fivell who is also an ActiveAdmin maintainer.

I set Formtastic to master branch on AA locally, ran our te

[2017-07-08 05:51] mikz commented on #1197
@javierjulio I see there was a 1.0 release of ActiveAdmin, finally. I'd like to try to do normal beta releases of formtastic that would match releases of AA, so we don't have to target git, but just prerelease gem version.

I wanted to make it a bit bigger release and pack more stuff into it, but that sounds harder and harder, so we might just release what is there now.

I agree that customising t

[2017-07-08 05:55] mikz commented on #1228
I'm happy to merge a patch testing and fixing this.

[2017-07-21 19:28] JeremyEllingham opened #1246 "Add support for Rails 5.1 form_with tags"
https://github.com/rails/rails/issues/25197

Currently upgrading to Rails 5.1 breaks all the automatic styling of semantic_form_for.

Could we add a semantic_form_with tag that follows the new conventions?

[2017-07-24 07:59] mikz commented on #1246
That would be nice, but someone has to define what does not work and how it should work. Preferably with examples. Then anyone could contribute that code.

[2017-08-09 01:29] robbieshepherd commented on #997
@justinfrench I just hit this as well.
`t.input :foo, as: :select, label: "Foo Type", include_blank: false, allow_blank: false, collection: {"Option 1" => "1", "Option 2" => "2"}, input_html: {required: true}` still renders a blank option in the select. Removing `required: true` makes the blank option then disappear.

[2017-08-09 04:35] mikz commented on #997
@robbieshepherd could you try to contribute a failing test case?

[2017-08-10 14:13] adiakritos commented on #712
Is it hard to make the <li> wrapping html go away? I have an issue here as well and an option to remove those tags when I need to would be a very nice to have. I have to work around them presently.

[2017-08-10 18:04] bennyzr opened #1247 "input label inside inputs block not padded like input's not in inputs block"
I noticed that input's inside an inputs block lose their 10px left padding unlike input's not in a inputs block. Any ideas on how to resolve or circumvent this behavior?

[2017-08-11 06:01] justinfrench commented on #1200
I've added @mikz as an owner on RubyGems.org, so this is finally resolved. Please confirm and let ,me know if you need any more guidance on this @mikz!

![2017-08-11 at 3 59 pm](https://user-images.githubusercontent.com/5240/29202737-4cced724-7eae-11e7-9a21-1f72b79ecad3.png)

[2017-08-11 06:01] #1200 closed

[2017-08-11 06:20] mikz commented on #1200
@justinfrench looks like I have access, thank you!

[2017-08-15 15:53] betodasilva commented on #712
When we have nested forms the generated html makes the code too trash. I think that an option to remove the html would be nice.

[2017-08-25 17:46] shakiba opened #1248 "Question: how to change what element is used to wrap a checkbox group in `checkboxes`?"
I use `k.input, as: checkboxes` to render a list of checkboxes. Currently each checkbox is wrapped in a `div` element with class `checkbox`, I want to use `span` instead and add a class name. How can I do it?

[2017-08-27 10:43] mikz commented on #1248
That does not look correct.

http://www.rubydoc.info/github/justinfrench/formtastic/Formtastic/Inputs/CheckBoxesInput says it rendered as a list.

[2017-09-05 22:40] obie opened #1249 "Any plans to support more than just label/value pairs in collection options?"
Ideally instead of accepting just an array of tuples like `[['Justin', 2], ['Kate', 3]]` we could pass in an array of hashes with attributes matching `OPTION` attributes. This would enable additional functionality on options like setting disabled and accessibility attributes.

Happy to whip up a patch if wanted.

[2017-09-07 07:53] 3limin4t0r opened #1250 "issue in wrong repo"
--

[2017-09-07 08:38] kewlar opened #1251 "How to customize the template used in `rails generate formtastic:form`?"
How to override the form template used when generating `formtastic:form`?

The `rails generate formtastic:form` command uses `<formtastic_gem_dir>/lib/generators/templates/_form.html.haml`, and I couldn't find the way to override that.

I tried modifying the template `lib/templates/haml/scaffold/_form.html.haml` (that was generated with `formtastic:install`), but it seems to be used only when call

[2017-09-12 09:02] mikz commented on #1251
I don't know but you can check the form generator https://github.com/justinfrench/formtastic/blob/master/lib/generators/formtastic/form/form_generator.rb
and investigate how it is supposed to use the template path and verify that it is doing it correctly.

[2017-09-12 09:03] mikz commented on #1250
@3limin4t0r I'm sorry but I don't understand Dutch and google translate is not much helpful here.

Without the actual code we can't really move one. Ideally provide a failing test case or a sample app.

[2017-09-14 08:12] #1250 closed

[2017-09-14 17:15] chewi commented on #997
I've figured it out. It took me a while as I started looking at this from the wrong end of the problem. This is deliberate behaviour in Rails. In fact, in Rails 5 (which I'm not using yet), this would actually raise an exception. See rails/rails@077540738460d44c1463b3e52d2acb1fed9bc766. They have taken this decision to comply with the HTML 5 spec. It does make some sense as the browser should guar

[2017-09-20 09:18] besi opened #1252 "Date picker broken after update from 3.1.4 to 3.1.5"
### Working date picker in version `3.1.4`

I am using a date picker in conjunction with activeadmin:

[code]

This produces a date picker like so:
![screen shot 2017-09-20 at 11 13 06](https://user-images.githubusercontent.com/160412/30636187-105c1c82-9df5-11e7-89e4-e65290f960df.png)

### Broken date picker in version `3.1.5`

When I updated to the latest version of `formtastic` (everything else

[2017-09-20 09:32] besi commented on #1252
See https://stackoverflow.com/questions/16121895/jquery-datepicker-for-simpleform-just-like-in-activeadmin

[2017-09-20 09:34] besi commented on #1252
Note: If this functionality is no longer supported one option would be to revert to use the gem [simple-form-datepicker](https://github.com/JasonBarnabe/simple-form-datepicker), which would also allow to customise the date  picker (e.g. starting day etc.)

[2017-09-20 10:28] mikz commented on #1252
@besi formtastic does not provide `datepicker` input type. It provides `date_picker`.
https://github.com/justinfrench/formtastic/blob/master/lib/formtastic/inputs/date_picker_input.rb

`datepicker` is provided by activeadmin https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/inputs/datepicker_input.rb

I don't know from where this JS error comes from or how it tries to initial

[2017-09-28 03:43] Victh opened #1253 "NameError: uninitialized constant Formtastic::ActiveSupport"
So I'm currently studying a rspec, formtastic & surveyor project.
Whenever I try to compile my project, using `bundle exec rspec`, I always get this error.
[code]

My binaries and dependencies seems to be up-to-date (I already look up some issues here), but still didn't fixed it. Here's my `bundle show` result:

[code]

The issue is going away if I remove the `require "surveyor"` line, though I ob

[2017-09-29 07:15] mikz commented on #1253
@Victh formtastic wasn't intended to be loaded without rails. You should load ActiveSupport yourself.

Also, that formtastic version (2.1.1) is really old and not supported.

[2017-10-02 12:34] #1252 closed

[2017-10-09 16:46] nicolas-brousse opened #1254 "Input for PostgreSQL array datatype"
Hi,

I'm currently using an [`array` datatype](http://edgeguides.rubyonrails.org/active_record_postgresql.html#array) on a model but I don't know how to manage it with formtastic.

I would like to manage an array of string as a nested form.

**Example**

[code]
With this is example I expect to remove, add, update a tag.

How could I do it?

Thanks

[2017-10-09 16:49] mikz commented on #1254
How you want to present it to the user? String input like `one, two, three` ? Or checkboxes?
Formtastic provides input types for collections. See the Readme.

[2017-10-09 16:51] nicolas-brousse commented on #1254
In this case, a list of string input and a "add more" button to add an empty input to add more tags.
I'm not looking to add relation datas or datas that already exists on DB.

[2017-10-09 16:57] nicolas-brousse commented on #1254
Something more or less like http://jsfiddle.net/jaredwilli/tZPg4/4/ or http://formvalidation.io/examples/adding-dynamic-field/#adding-fields-with-same-names.

[2017-10-09 17:36] mikz commented on #1254
@nicolas-brousse formtastic does not provide any javascript widgets for adding more inputs. Only predefined collections. They don't have to be relations - readme shows collection with strings.

You can create our own input or try to find 3rd party inputs. Guess Active Admin has some for this.

[2017-10-09 17:49] nicolas-brousse commented on #1254
@mikz thanks for your answer. The javascript part is not really the problem, I can do it. It's more how to manage it with `formtastic`.

True, I just meant that I would like a free input, where user can write everything he want.

May be I could have an input like `<input type="text" name="post[tags][]" />` and duplicate it with some javascripts.

I searched on Active Admin but I found nothing for

[2017-10-20 23:14] amadeuspagel opened #1255 "uninitialized constant Article::article"
I'm trying to let people add articles that should be read before or can be read after the present article.

This is my _form.html.erb

[code]

This is my article.rb

[code]

And this is my connection.rb

[code]

I get the error "uninitialized constant Article::article" when I visit articles/new.

[2017-10-23 08:44] mikz commented on #1255
@amadeuspagel I'd guess it is because of lowercase a in "article" instead of "Article". Also you'll get same error with plain rails by doing `article.before`.

[2017-11-06 16:07] antprt opened #1257 "Error undefined select_año due to translations to spanish"
I have an error with formtastic.

My application has two languages spanish and english.

When I try to edit a register with a date formtastic raise Exception "undefined select_año". Only occurs with dates created by other gem. Never with created_at and updated_at that are created by rails.

año is year in spanish. If I have the application only in english the problem never happens. I suppose that

[2017-11-07 07:25] mikz commented on #1257
Would be good to send the backtrace to see where exactly is this happening.

I assume the column name is not in Spanish, right?

[2017-11-07 07:53] antprt commented on #1257
The column in DB is in english. Is called birthdate.

Yesterday I realized where was the translation. If I put that in my es.yml the exception occurs:

es:
  date:
    # Used in date_select and datetime_select.
    order:
      - año
      - mes
      - dia

If I write instead of año, mes, día; year, month and day the gem works.
I use formtastic because is included in activeadmin gem. I haven't co

[2017-11-07 08:27] mikz commented on #1257
So it fails because of `i18n_date_fragments` https://github.com/justinfrench/formtastic/blob/f0a3b1c2e69aa09d8fe4ad3796c3a313dec73ef6/lib/formtastic/inputs/base/timeish.rb#L189-L196

From the official Spanish i18n https://github.com/svenfuchs/rails-i18n/blob/063b39cc366bd19dfc80dd8f975c8b570214df19/rails/locale/es.yml#L59-L62 those values should be always in English because that is how Rails expec

[2017-11-07 08:27] #1257 closed

[2017-11-21 09:14] SimonSharville opened #1259 "span inside f.lable in haml"
Hi, I'm trying to add a span inside a =f.label in ruby, written in haml but I cant, get it to work, any help would be much appreciated. Is there another way of doing it, I've resaerched but nothing I try works.

.form-group.sa-checkboxes
  .checkbox.sa-checkbox
    = f.check_box :edoc_uploaded
    = f.label :edoc_uploaded, "An eDocument is uploaded by a delegate or administrator"
      %psan.check

[2017-11-21 09:53] mikz commented on #1255
Closing due to inactivity. Please reopen if you can prove the has_many association works.

[2017-11-21 09:53] #1255 closed

[2017-11-21 09:55] mikz commented on #1254
@nicolas-brousse if you want one free form input then just provide an attribute on the model that is a string and manages the serialization/deserialization from the array. Like act-as-taggable tag_list method: https://github.com/mbleigh/acts-as-taggable-on

[2017-11-21 09:58] mikz commented on #1253
Closing this due to inactivity. If you can reproduce this on latest version or can't fix it by manually requiring ActiveSupport please reopen this issue.

[2017-11-21 09:58] #1253 closed

[2017-11-21 10:01] mikz commented on #1249
And those hashes would look like how?

We already support grouped options: https://github.com/justinfrench/formtastic/blob/6953db82c96f1bc3742408073f70361b89e73652/spec/inputs/select_input_spec.rb#L502-L521
So this would be something else right? Hashes having `:value`, `:disabled` and other html attributes?

[2017-11-21 10:02] mikz commented on #1248
Closing due to inactivity. If you have more input please reopen the issue.

[2017-11-21 10:02] #1248 closed

[2017-11-21 10:04] mikz commented on #1247
I'd need the template and formstastic version to reproduce this. Ideally a saved html page with CSS so I can see why and how it breaks (free of any custom css).

[2017-11-21 10:06] mikz commented on #1245
Closing this due to inactivity. This is not expected to work and if you want a hidden input just use `as: :hidden`.

[2017-11-21 10:06] #1245 closed

[2017-11-21 10:07] mikz commented on #1233
Closing this due to inactivity. If you can send some steps to reproduce on plain app please reopen the issue.

[2017-11-21 10:07] #1233 closed

[2017-11-21 10:07] mikz commented on #1223
Closing due to inactivity. If you can share steps to reproduce please reopen.

[2017-11-21 10:07] #1223 closed

[2017-11-21 10:08] mikz commented on #1231
Closing due to inactivity. There is https://github.com/mjbellantoni/formtastic-bootstrap.

[2017-11-21 10:08] #1231 closed

[2017-11-23 12:45] nicolas-brousse commented on #1254
@mikz I start working on a custom input https://gist.github.com/nicolas-brousse/f4530e466c71f909e758c1817032cd39. I take inspiration from https://gist.github.com/franks921/44509c65da3bea99bc49.

I try to do something generic.

[2017-11-25 17:23] johnmcconnell commented on #794
I also have this use case. Should we add something to the api to make this easier for example.

[code]

[2017-11-25 17:26] johnmcconnell commented on #794
Related: https://github.com/justinfrench/formtastic/issues/795

[2017-11-27 10:48] mikz commented on #794
You can just use the form of printing each input:

[code]

[2017-11-27 10:53] mikz commented on #795
The same as https://github.com/justinfrench/formtastic/issues/794#issuecomment-347145680.

Since Rails 3 each input is supposed to be outputted to the template. http://timelessrepo.com/block-helpers-in-rails3

[2017-11-29 19:00] johnmcconnell commented on #794
This is related to `ActiveAdmin` which has form builders outside of an `erb` context. Related to: https://github.com/activeadmin/activeadmin/issues/3570

[2017-11-29 19:01] johnmcconnell commented on #794
We could talk about:
 * Whether this should be a feature/supported?
 * Should activeadmin or formtastic should be in charge of this?

[2017-11-29 19:14] mikz commented on #794
* FormBuilder generates form html and outputs it, how it is concatenated into a template is not its concern
* ActiveAdmin DSL should offer how to concatenate html
* Formtastic behaves the same way rails helpers do

I don't see what there is to do from formtastic. If ActiveAdmin is using some DSL then it should be solved there. Formtastic does the same as Rails.

[2017-12-14 12:37] joe2son opened #1260 "Unable to find input class JsonInput"
Hi --

Using the `json` datatype for column `editable_fields`.

Given the form:

[code]

When loading form/create page, this returns the error, as in the title: `Unable to find input class JsonInput`, highlighting the `editable_fields` input.

I guess I could do this:

[code]

However, form submission demonstrates that the value of `editable_fields` is coming up as blank.

Please help!

[2017-12-14 16:54] #1260 closed

[2017-12-14 17:00] joe2son commented on #1260
I found that the issue preventing the saving of the data was to do with the formatting of the `permit_params`. Popular advice suggested defining permit_params as follows:

[code]

The reason for this was apparently to denote it's json attribution.

However, I found that defining the json entity the same as regular ones allowed the column to save successfully.

[code]

[2018-01-09 10:28] misner opened #1261 "How to set up a form's with a drop down that includes X choices plus a "free" input"
I would like to set up for a Active-Admin formtastic form a field we can call field_example (string type), a basic dropdown that would show:

- option 1
- option 2
- option 3
- freely inputed field

Is it possible with Formtastic  to enable the user to choose of the 3 basic options but if he does not recognize himself in those 3 options, be able to type freely another string (this string would not

[2018-01-09 11:41] mikz commented on #1261
Formtastic is just a form generator. It does not say how you want to design your inputs.
You need to figure out how you want to have this in HTML+JS and then create those inputs by formtastic.

This is not responsibility of Formtastic. Closing this issue.
Feel free to reopen if if there is some feature request.

[2018-01-09 11:41] #1261 closed

[2018-01-09 11:44] mikz commented on #1259
[code]

Or make some helper that will render a haml block and pass it as a param to `f.label`.
But this is not HAML support and not Formtastic specific question.

Closing this issue. Feel free to reopen if you have some feature suggestion or a bug report.

[2018-01-09 11:44] #1259 closed

[2018-01-10 08:14] misner commented on #1261
Ok, dully noted. Thanks.

[2018-01-27 20:36] stadniklksndr opened #1262 "Required input doesn't work"
Formtastic validation not working

f.input :contact_id, as: :select, collection: Contact.all.map {|c| [c.name, c.id]}, required: true

Do you have any suggestions how to add "required: true"?

[2018-01-29 09:50] mikz commented on #1262
It is hard to guess what "not working" means. The browser validation? Rails validation?

There are settings to enable the browser validation for select/option: https://github.com/justinfrench/formtastic/blob/b104bb1fe5228ea37f668917b13d0888f8bd033a/lib/generators/templates/formtastic.rb#L83-L85

Next time would be better to explain what you did, what was the html and what you expected instead.

[2018-01-29 10:40] stadniklksndr commented on #1262
I meant the browser validation.

Configs below helped me.
Formtastic::FormBuilder.use_required_attribute = true
Formtastic::FormBuilder.perform_browser_validations = true

Now browser validation works.
Thank you @mikz

[2018-01-29 10:47] #1262 closed

[2018-03-14 21:48] dkniffin opened #1264 "Better support for polymorphic fields"
Right now, there's no easy way to set up a field for a polymorphic association. There's [a helpful error message](https://github.com/justinfrench/formtastic/blob/ec0b090de764f09cd7d68177ac6fea9011d907b4/lib/formtastic/inputs/base/collections.rb#L77) that says `A collection must be supplied for #{method} input. Collections cannot be guessed for polymorphic associations.` However, in addition to set

[2018-03-15 07:53] mikz commented on #1264
@dkniffin I get the point, but don't see how to do this without JavaScript.

Formtastic could get several types in the collection and then would need to send two inputs - one for the id and other for the type and need a way to sync them somehow.

For your case of just one type per input I'd say it is easier to define `document_id=` on the model that basically does just `self.trackable = Document.f

[2018-03-15 13:04] dkniffin commented on #1264
@mikz What if we did something like what's described [here](https://github.com/activeadmin/activeadmin/wiki/Nested-forms-with-polymorphic-association-in-Active-Admin-Formtastic#other-possibility-would-be), and set up the field so that the values are actually a combination of the type and the id, then interpret that correctly in the controller?

[2018-03-19 13:20] mikz commented on #1264
@dkniffin I think this is not a decision for formtastic to take.

It would not work out of the box because it needs a change in the model. And I don't think it is very nice solution because it would not work with UUID ids for example.

[2018-07-11 17:07] mateusg commented on #1192
I'm experiencing the same problem with duplicate ids on the submit buttons and forms.

I think this is happening because the `:namespace` option isn't being passed to the [original implementation](http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-form_for) of `form_for`. It [gets remapped](https://github.com/justinfrench/formtastic/blob/master/lib/formtastic/helpers/fo

[2018-07-12 05:48] coorasse opened #1266 "radio input with collection does not generate hidden field"
I am using formtastic 3.1.5 on Rails 5.2.
If I render a collection of radio buttons in a form:
```<%= f.input :choice, :as => :radio, :collection => [...] %>```
this does not generate a needed hidden field `<input type="hidden" name="model[choice]" value="">` causing the submission of the form with no radio selected to raise the exception `"param is missing or the value is empty"`.

Rails adds suc

[2018-07-12 08:56] mikz commented on #1192
I made https://github.com/justinfrench/formtastic/pull/1065to to fix https://github.com/justinfrench/formtastic/issues/904. It was doing nasty stuff and changing class variables when rendering forms.

It is possible I did not fully understand the implications and it has a bug that prevents using the `:namespace` option. We should verify the regression test https://github.com/justinfrench/formtasti

[2018-08-11 07:08] ieglonew01f opened #1267 "major issue with formtastic"
r

[2018-08-14 13:02] #1267 closed

[2018-09-06 14:18] CloakedAlien opened #1268 "Default value for dropdown possible XSS exploit?"
This might be on me since I'm rummaging around in an inherited project and might just be missing something obvious or there's a setting somewhere messing it up.

But it would seem that when making a dropdown using f.input with a list of items the default selected value gets treated as html safe.

And only the default value.

Try populating one with values such as `<img src=xss onerror=alert(1)> `

[2018-09-06 14:26] mikz commented on #1268
@CloakedAlien would you have an example of such form?

[2018-09-06 14:43] CloakedAlien commented on #1268
Unfortunately nothing standalone, no. I just discovered this. It's seems like the default value inside the `<span></span>`-tags just gets entered as html_safe.

This is pulled from context:
`<%= f.input :image_id, collection: current_account.images.excluding_screenshots.entries.sort_by(&:updated_at).reverse, label: t(".start_image"), include_blank: t(".use_screenshot") %>`

[2018-09-06 14:45] mikz commented on #1268
@CloakedAlien and what you consider the default value, `include_blank`?

[2018-09-06 14:49] CloakedAlien commented on #1268
The default value is whatever :image_id holds, or the first item in the list

[2018-09-06 14:50] CloakedAlien commented on #1268
![image](https://user-images.githubusercontent.com/1347735/45165315-e102e500-b1f4-11e8-88f2-8f0e4bed5e05.png)

[2018-09-06 14:53] CloakedAlien commented on #1268
In this specific case that code gets executed, triggering the alert. But it only happens with the default value, if I click the item below it gets entered, encoded, into the `<span>` but upon the next reload it will be the default value and executed/rendered.

Sorry for the flaky explanation. I still can't rule out an error in the project or simply me not understanding some inner workings properly

[2018-09-06 14:55] mikz commented on #1268
@CloakedAlien can you share the generated HTML and formtastic version you are using?

[2018-09-06 15:09] mikz commented on #1268
@CloakedAlien Formtastic is going to use following methods to make the label of each record: `to_label display_name full_name name title username login value to_s`. It is possible your object implements one of those and calls `.html_safe` on it.

It can be easily reproduced as:

[code]

[code]

And properly escaped as:

[code]

[code]

Closing this issue as it is not a formtastic problem. Feel fre

[2018-09-06 15:09] #1268 closed

[2018-09-07 07:08] CloakedAlien commented on #1268
You are correct. I have traced this to a jquery.uniform issue, an outdated version, sorry for the trouble and thank you for your time <3

[2018-09-10 10:41] joshudev commented on #712
In case anyone finds it useful, you can patch as follows, in order to change the wrapper tag from an LI to something else (I am using for generating tables). You could easily modify the code to disable the wrapper altogether.

[code]

It can be used as follows:
`= f.input :name, wrapper_html: { tag: :td }`

[2018-11-15 16:05] jcavalieri opened #1274 "Namespaced ActiveRecord, can't find prefixed table name id"

[2018-11-15 16:07] #1274 closed

[2018-11-15 16:21] jcavalieri opened #1275 "Namespaced ActiveRecord, can't find prefixed table name id"
I have an namespaced active record, created with the rails generator.

So let's say I have an active record Foo::Cat, and another one Foo::Owner. Rails generates a module file like so:

[code]

And then the two records above are in that module's namespace, e.g.

[code]
[code]
I am using active admin, but the issue I am seeing appears to be that formtastic level. When I have a form like so for pet:

[2018-11-15 19:47] jcavalieri commented on #1275
FYI, looks like this is issue with active record reflections.

A workaround is to change the belongs_to have the field prefixed:
[code]

Note, it is `foo_owner` now, not `owner`.

Hope this might help others.

Closing.

[2018-11-15 19:47] #1275 closed

[2018-11-22 09:49] besi commented on #1252
@mikz Thanks for the heads up.

I can now use the date picker component as desired:

    f.input :published_at, as: :datepicker, datepicker_options: {firstDay: 1}

[2018-11-30 14:23] asecondwill commented on #890
Leave this here in case somebody else is wondering how.

`f.action :cancel, :as => :link, label: 'Cancel',  wrapper_html: {class: :cancel}`

[2019-01-07 06:49] joshuapinter commented on #1182
Any idea if there's a place where all of these deprecations are found? We've gotten bit by this one and by the `confirm`. They fail silently so they don't show up in tests typically. Thanks!

[2019-01-08 10:14] mikz commented on #1182
@joshuapinter I believe they are in the log and since some rails version, you can configure it to raise an exception instead. It can also be backported to older rails quite easily.

[2019-04-11 20:53] dkniffin commented on #1197
@mikz @justinfrench How is 4.0 going? My PR #1272 got merged about 6 months ago, and I'm still pointing a project at my fork. I'd love to get it pointing to 3.2 or 4.0 instead.

[2019-04-12 07:09] mikz commented on #1197
@dkniffin I understand that, but it is not going at all. I'm not actively using this project, so it is hard for me to work on it without any testing ground.

We could try to release beta1 at least. WDYT @justinfrench? That would remove the git dependency and at least move us forward a bit, even when it would not be feature complete.

[2019-05-02 14:22] #1228 closed

[2019-05-17 14:24] raphaelpra commented on #1180
I had a similar issue (`Could not find "_form.html.jbuilder" in any of your source paths`) and it was due to the fact that I had added jbuilder as **template_engine** in my configuration. Since there is a **.** at the end of "_form.html**.**", it might be linked to that.

[2019-05-28 11:15] amlisirev opened #1278 "semantic_errors helper possible edge case XSS vector."
Steps to reproduce:
- have a model with f.ex. email attribute, with validation for the address.
- enter `<script>alert('test')</script>` as an email, failing the validation.
- have the error message for the field contain the user input.
- use `f.semantic_errors *f.object.errors.keys` on the form

Is there a deliberate design choice why the semantic_errors helper uses html_safe instead of sanitisin

[2019-05-28 12:47] mikz commented on #1278
I guess you refer to https://github.com/justinfrench/formtastic/blob/f94423144eee14ccc03a64267fcafd583d3cdf85/lib/formtastic/helpers/errors_helper.rb#L54-L56 right?

It seems to me that the inner call to `template.content_tag(:li, error)` should escape the error. If it does not it is definitely not intentional.

[2019-05-29 09:39] amlisirev commented on #1278
Correct, that's the implementation I was referring to. I'm not intimately familiar with the html_safe implementation, is it the case that the SafeBuffer it wraps the input in bypasses all sanitisation for the target?

[2019-05-29 10:24] mikz commented on #1278
Yes and no. It will mark the buffer as html safe even when it wasn't escaped. But it should be escaped already by `template.content_tag(:li, error)`. Could you check the `error` is `.html_safe?`?

Also, I'll be happy to take a look at a fix if you'd provide a failing test case.

[2019-06-24 22:00] gkop commented on #1278
Hey folks! I just wanted to note that today the latest version of Formtastic on Rubygems is 3.1.5, and in that tree there is an [inner call to html_safe](https://github.com/justinfrench/formtastic/blob/3.1.5/lib/formtastic/helpers/errors_helper.rb#L55) that could explain this behavior. Maybe part of why we're confused is that the [inner call was removed almost 5 years ago](https://github.com/justi

[2019-06-25 09:34] mikz commented on #1278
@gkop that would explain it. It might have been because of some compatibility issues with older rails versions. I guess we could try to release a 4.0 beta version with what is in master now.

[2019-06-26 01:45] gkop commented on #1278
Our team found indeed the `#semantic_errors` vector appears to be neutralized in master. However we found at least one similar remaining XSS vector in the inline errors functionality (see #1279) that probably affects nearly all ActiveAdmin apps. I expect there are more of these lurking.

[2019-07-09 00:24] seanfcarroll opened #1280 "Example form is broken"
Linked from here https://github.com/justinfrench/formtastic/wiki/1.1-How-It-Works

https://wiki.github.com/justinfrench/formtastic/71-example-rendered-html

[2019-08-23 11:25] chrisgeek commented on #712
I am facing this same problem, it would be nice if the `li` wrapper is made optional really, or if the wrapper can be completely taken off just like with simpleform, I am using ActiveAdmin so i am basically stuck with formtastic.

[2019-09-06 00:07] letiesperon commented on #1264
Did someone find a clean way around this?

[2019-10-18 22:00] vincentwoo opened #1285 "Can't use include_blank: false for required inputs, but you can set prompt: ''"
I have a select that looks like

[code]

The object always has `language` set to a value in `values`, so I don't want to show the blank field. Recently we made this field required, which broke this code. I was unable to get the previous behavior *except* by doing this, which feels like a hack:

[code]

Is this by design? Am I missing something?

[2019-12-04 11:36] oni7uka opened #1286 "ActiveRecord enum attribute with i18n translation doesn't work?"
I'm reading the document from https://github.com/justinfrench/formtastic/blob/f94423144eee14ccc03a64267fcafd583d3cdf85/lib/formtastic/inputs/radio_input.rb#L107
But it doesn't work.
This is my **form code:**
`  f.input :position, :as => radio `
**model:**
[code]
**i18n file:**
[code]
Am I missing something?  My formtastic version is 3.1.5

[2020-01-10 17:08] vfonic commented on #1249
`:disabled` would definitely be nice. That's what I'm trying to achieve in my app rn.

[2020-02-07 23:09] tlhinman opened #1290 "Execute custom code on submit?"
Hello! We're using Formtastic with our Active Admin. Is there any way to get some custom Ruby code to run when the Submit button is clicked? It's set up like this:

[code]

Thanks!

[2020-02-24 20:32] justinfrench commented on #1290
Formtastic only helps you build up the HTML form. If you want Ruby code to run on the server, that's what the controller needs to do after you submit. If you want code to run on the client side (which is what you want to do here with a confirmation dialogue), then Formtastic can help you build the necessary HTML, but not execute it on the client side.

This is a good way to use Formtastic to gener

[2020-02-24 20:32] #1290 closed

[2020-03-13 04:32] lanzhiheng opened #1298 "Make the tag of the wrapper configurable"
Now the tag of the wrapper was [hard code](https://github.com/justinfrench/formtastic/blob/master/lib/formtastic/inputs/base/wrapping.rb#L10) to `li`, but sometimes I want them to be wrapped by `div` or others. Do you think it is a good choice to make it configurable?

[2020-03-13 04:47] lanzhiheng commented on #1298
Oh, Sorry. I checked the source code of `formtastic`. It provided a very convenient way to build a common form. If I want to customize the wrapper of it, the better way is hack it not configure it. Thank you for your work. Just omit my question from this issue.

[2020-03-13 04:48] #1298 closed

[2020-05-01 01:34] seb-sykio opened #1308 "ruby 2.7 support"
hi,
I try to update to ruby 2.7.1 but I have thousands of warning
formtastic-3.1.5/lib/formtastic/localizer.rb:118: warning: deprecated Object#=~ is called on FalseClass; it always returns nil

formtastic-3.1.5/lib/formtastic/i18n.rb:26: warning: Using the last argument as keyword parameters is deprecated; maybe ** should be added to the call

[2020-05-04 14:29] mikz commented on #1308
I believe that was fixed by https://github.com/justinfrench/formtastic/pull/1307

[2020-05-04 22:55] seb-sykio commented on #1308
thanks, any idea about a release date ? ;-)

[2020-05-05 06:05] mikz commented on #1308
Yeah, that's not a priority for some time already. I'd recommend using it as git dependency.
Master is very stable anyway.

[2020-05-10 15:16] seb-sykio commented on #1308
thanks, I tried but them formtastic-bootstrap gem is not working anymore
       ActionView::Template::Error:
         uninitialized constant Formtastic::Util
       # gems/formtastic-bootstrap-3.1.1/lib/formtastic-bootstrap/helpers/fieldset_wrapper.rb:26:in `field_set_and_list_wrapping'

and this gems is not maintain anymore. Do you know any replacement maybe ?

thanks again for your help

[2020-05-11 09:00] mikz commented on #1308
I'm not using formtastic-bootstrap, sorry. Maybe you can fork it and change it? `Formtastic::Util` was a recent removal in https://github.com/justinfrench/formtastic/commit/cbbff9c76645be2548f9f6350f5b4b832c4616f0#diff-307fa8c47fcf4e3139e823dd839b7efe

You can also create that module in your project.

[2020-05-20 21:19] peterdeweese commented on #1308
Maintainers, we really need a release for various other gems to point to and for direct use. What is the hold-up and how can I help?

[2020-06-18 09:22] yura-voevodin commented on #1152
Hi! I have the same problem

`f.input :classroom, :as => :datalist, :collection => Classroom.pluck(:name, :id)`

<img width="592" alt="Screenshot 2020-06-18 at 12 19 25" src="https://user-images.githubusercontent.com/2790873/85002831-11afd680-b15e-11ea-9469-0cf447095d6f.png">

And

<img width="678" alt="Screenshot 2020-06-18 at 12 19 39" src="https://user-images.githubusercontent.com/2790873/85002

[2020-06-18 09:25] mikz commented on #1152
That works as advertized. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist

[2020-06-21 05:19] justinfrench commented on #1199
Have made this change 🎉

[2020-06-21 05:19] #1199 closed

[2020-06-21 05:23] #1058 closed

[2020-06-21 05:23] #1118 closed

[2020-06-21 05:23] #1123 closed

[2020-06-21 05:23] #1127 closed

[2020-06-21 05:23] #1144 closed

[2020-06-21 05:23] #1146 closed

[2020-06-21 05:23] #1151 closed

[2020-06-21 05:23] #1192 closed

[2020-06-21 05:23] #1213 closed

[2020-06-21 05:23] #1222 closed

[2020-06-21 05:23] #1225 closed

[2020-06-21 05:23] #1234 closed

[2020-06-21 05:23] #1246 closed

[2020-06-21 05:23] #1247 closed

[2020-06-21 05:23] #1249 closed

[2020-06-21 05:23] #1251 closed

[2020-06-21 05:23] #1254 closed

[2020-06-21 05:23] #1264 closed

[2020-06-21 05:23] #1266 closed

[2020-06-21 05:23] #1031 closed

[2020-06-21 05:23] #1038 closed

[2020-06-21 05:25] justinfrench commented on #1308
I've cut a 4.0.0.rc1 gem today, and am enlisting new maintainers. Closing.

[2020-06-21 05:25] #1308 closed

[2020-06-21 05:27] justinfrench commented on #1197
Hey folks, sorry for the lack of inactivity. @deivid-rodriguez has been helping get master ready for a 4.0. I've released a 4.0.0.rc1 gem today, and I'm actively looking for new maintainers.

[2020-06-21 05:29] justinfrench commented on #1278
Sounds like this issue is resolved in master, and I've pushed a 4.0.0.rc1 gem today, Closing for now.

[2020-06-21 05:29] #1278 closed

[2020-06-21 05:32] justinfrench commented on #1280
Fixed.

[2020-06-21 05:32] #1280 closed

[2020-06-21 05:35] justinfrench commented on #1286
Hi @oni7uka, I'm not sure what you mean by "doesn't work". if this is still an issue for you, can you please provide some more information? Closing for now.

[2020-06-21 05:35] #1286 closed

[2020-06-21 05:54] justinfrench commented on #1285
@vincentwoo the `include_blank` specs asserts that there should be no blank field if you use `include_blank: false`. So the issue you're having is not by design. However, I can't readily see any issues in the code — we don't change our logic based on whether the field is required or not. My best guess is that we might have some flawed interplay of logic between `include_blank` and `prompt`, but yo

[2020-06-21 05:54] #1285 closed

[2020-06-21 05:54] #1197 closed

[2020-06-21 06:58] justinfrench opened #1312 "Migrating from justinfrench/formtastic to formtastic/formtastic"
Hi everyone, just noting some changes I've made lately to ensure that this repo and gem isn't reliant on me as a maintainer.

Ownership and contributors:

* I converted the `formtastic` user (which I had previously registered) into an org
* The current owner of the formtastic org is me, @justinfrench, but I'm actively looking for new maintainers and a new owner
* I transferred the repo from justin

[2020-06-21 06:58] #1312 closed

[2020-06-21 09:41] vincentwoo commented on #1285
I believe this issue comes down to whether the field is required. Here is simpler sample code that should help you reproduce.

[code]
(correctly) renders as

[code]

However, if you instead attempt to achieve no blank prompt via:

[code]

formtastic errors out with `include_blank cannot be false for a required field.`

This does not seem intentional to me.

[2020-06-21 09:47] vincentwoo commented on #1285
I see upon additional research that this is related to actionview throwing the afforementioned error: https://github.com/rails/rails/pull/20124. I'm unsure where formtastic should land on this - it seems odd to have to do this workaround.

[2020-06-22 07:28] vfonic commented on #1249
Hey @justinfrench, is it possible to achieve this somehow now?

I believe @obie was suggesting something like this:

[code]

Thanks!

[2020-06-24 02:14] justinfrench commented on #1285
@vincentwoo thanks for digging into this a bit further. It sounds like this is a Rails issue more than a Formtastic issue.

If I understand the situation correctly, you have a required field, but you want to omit the "blank" option because you've pre-selected a good default option in the model instance. This does seem like a bit of an edge case, and I'm not sure if there's a way Formtastic could o

[2020-06-24 02:16] justinfrench commented on #1249
Hi @vfonic, to the best of my knowledge, we haven't implemented this — I was just closing off a bunch of stale issues to give the project a bit of a fresh start. Your use case looks valid and is something I'd be open to supporting, but I don't have the time to invest in preparing a patch. Perhaps you could have a go?

[2020-06-24 10:19] vfonic commented on #1249
@justinfrench thanks for the clarification!

I'm not working on anything that needs this functionality right now. If I do end up needing this again, I'll give it a go.

@obie are you still interested in making a PR for this?

[2020-07-24 18:49] molfar opened #1313 "Override labels for all inputs?"
How can I override label_text for all inputs globally for all inputs? I need to set there some special sign (prefix) there, similar to (optional or required).

https://github.com/formtastic/formtastic/blob/69a01f0b5654cf46b4067a35ee7845afbd6daee4/lib/formtastic/inputs/base/labelling.rb#L19-L21

[2020-07-27 08:05] lanzhiheng opened #1314 "Warning for deprecated method Object#=~"
[code]

Got some warning in ruby 2.7.1, because we used `=~` for matching. This method is deprecated. https://ruby-doc.org/core-2.7.1/Object.html#method-i-3D-7E

[2020-07-27 21:10] fredngo commented on #1192
@justinfrench https://github.com/formtastic/formtastic/pull/1212 doesn't seem to be merged yet; did some other fix solve this bug?

[2020-09-05 18:24] gsar commented on #1308
@justinfrench this issue is not fixed by #1307 as @mikz stated incorrectly above. #1307 fixed a different deprecation warning, not the one being reported here. please reopen.

[2020-09-17 11:40] raresroca05 commented on #1314
Will this be merged soon?

[2020-09-20 08:46] mikz commented on #1314
@raresroca05 you can see my review on both PRs. They are missing a test case and possibly can trigger an exception.

[2020-09-28 00:51] justinfrench commented on #1192
@fredngo I closed this as part of a mass clean-up. If you have the time to pull all this together in one PR, I'd really appreciate the help, as I don't have the time to maintain this like I used to.

[2020-09-30 07:23] ndbroadbent commented on #1314
Is everyone seeing this warning for ActiveAdmin? Or are there some other cases where `false` is being passed in? We are looking into this issue now and will try to add a test case for this, but it might actually be a bug in ActiveAdmin.

[2020-09-30 08:41] deivid-rodriguez commented on #1314
None of our current tests currently show this warning. Otherwise, having an issue way to reproduce it, I'd come here and try to add a proper test. That doesn't mean this is not a bug in activeadmin, but I thought it could be useful information.

[2020-09-30 09:03] pctj101 commented on #1314
Looks like you're looking for people with this problem? We have it so we are monitoring this issue.  If you're having trouble replicating, I'll see if I can make an example over the next few days.

[2020-09-30 09:14] deivid-rodriguez commented on #1314
Yeah, I mean, as per @mikz's comments, we're also looking for a regression spec and making sure the proposed fixes won't make any cases crash. But having a way to reproduce it also unblocks us to have a look at it ourselves.

[2020-09-30 12:19] pctj101 commented on #1314
Hope this is of some help

https://github.com/pctj101/formtastic_deprecation_demo

chruby 2.7.1

mysqldump in ft.sql

uname -a -> Darwin dev.local 19.6.0 Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64 x86_64

[2020-10-19 10:55] gat-bryszard commented on #1314
We're also waiting for the fix. Thanks in advance.

[2020-10-19 12:55] deivid-rodriguez commented on #1314
I managed to repro with @pctj101's app on my system. I'll try to take a look soon.

[2020-10-19 13:01] deivid-rodriguez commented on #1314
Actually, I can't repro this with formtastic 4.0.0.rc1. Could you double check? You can opt-in to the prerelease by adding `gem "formtastic", "~> 4.0.a` to your `Gemfile` and running `bundle update formtastic`.

[2020-10-21 08:33] bryszard commented on #1314
@deivid-rodriguez I confirm, it is fixed in 4.0.0.rc1.

One doubt here is - when can we expect 4.0.0? Is 4.0.0.rc1 a stable version that we can use in production?

[2020-10-21 08:56] deivid-rodriguez commented on #1314
I think given that it's been more than 3 years since the previous stable release, many people has been pointing to the default branch in github since. So, yeah, I'd say it's fairly stable.

That said, the more people try it out, the more issues/regressions will get reported and the more likely it will be that the final version is released. It's the classic chicken and egg issue with prereleases: p

[2020-10-21 09:18] bryszard commented on #1314
We'll do the leap of faith then and report if we see any issue :). Thanks for the explanation.

[2020-10-27 01:01] wasifhossain commented on #1141
we had to go slightly manual to integrate Reform into Activeadmin.

in order to **select the default value in the dropdown**, the following code would work WITHOUT Reform:

[code]

WITH Reform,
[code]

**Versions**:

Ruby 2.7.2
Rails 6.0.3.4
ActiveAdmin 2.8.1
Formtastic 4.0.0.rc1
Reform 2.3.3

[2020-11-01 19:09] molfar opened #1318 "Custom validation context is missing"
Required labels missing when model has specific validation context, different from save update create.

https://github.com/formtastic/formtastic/blob/69a01f0b5654cf46b4067a35ee7845afbd6daee4/lib/formtastic/inputs/base/validations.rb#L138

As result, such validators are skipped. I think there should be some context option for semantic_form_for

[2020-11-05 21:00] mikz commented on #1318
What validation context? Could you give an example of how that should work? Links to Rails documentation?

[2020-11-07 20:07] molfar commented on #1318
https://guides.rubyonrails.org/active_record_validations.html#on

When rendering form, fields that has presence validators with :on option, are displayed without required label.

[2020-11-07 20:20] mikz commented on #1318
[code]

I see the logic as sound.

And I see it tested. https://github.com/formtastic/formtastic/blob/69a01f0b5654cf46b4067a35ee7845afbd6daee4/spec/inputs/base/validations_spec.rb#L63-L223

If it is not working for your case please try to contribute some example or a test case that shows what is wrong.

[2020-12-10 13:41] dmitrytrager commented on #1314
Version 4 can have major changes and be incompatible with version 3.
I believe all warnings for version 3 should be fixed within version 3.

[2020-12-22 10:23] cristianogregnanin opened #1319 "Use formtastic with ActiveAdmin create deep nested form"
Using Rails 6, I am designing an application for manage police fines.
A user can violate many articles, an article can have many letters and a letter can have many commas.

This is my implementations:

[code]

[code]

[code]

[code]

[code]

When I print the Fine in pdf I need to show violations: articles, letters and commas.

I have some difficult creating form to compile the Fine with articles,l

[2020-12-23 11:00] deivid-rodriguez commented on #1319
@cristianogregnanin Can you post your question on [https://stackoverflow.com/questions/tagged/activeadmin]? Getting things working in ActiveAdmin is sometimes tricky. Here we're a couple of maintainers and we can't find time to answer usage questions, I think a wider community can help you in StackOverflow!

[2020-12-23 11:02] deivid-rodriguez commented on #1319
Sorry, given its title I thought this issue had been posted on the ActiveAdmin repo :sweat_smile:. I still think you might have more help in StackOverflow :)

[2020-12-23 11:04] deivid-rodriguez commented on #1319
Actually I now see that you posted the exact same thing on the ActiveAdmin repo :rofl:.

[2020-12-24 13:08] cristianogregnanin commented on #1319
Hi, I have posted on stackoverflow but I have no answer. I am not only person in the world with this problem, but I haven't found solutions

[2021-01-04 17:11] IrinaBron commented on #728
Hi,  I seem to be running into this issue as well after upgrading Rails:

Rails 5.2.4.4
ActiveAdmin 1.4.3
Formtastic 3.1.5

[2021-01-05 14:28] norman opened #1325 "Gem release supporting Ruby 3.0"
Hello,

We recently added Ruby 3.0 to our CI matrix in order to discover any incompatibilities ahead of upgrading in a few months.

It's not urgent for us yet, but we noticed that the current gem release of Formtastic doesn't work with the i18n gem because of Ruby 3's change in how keyword arguments work. Your master branch does already have the changes necessary and works properly Ruby 3.0, so ch

[2021-01-05 14:37] ogirginc commented on #1325
@norman beat me by 8 minutes. :)

[2021-01-05 14:49] deivid-rodriguez commented on #1325
Yeah, formtastic 4 is long due. I'll try to coordinate a final release :+1:.

[2021-01-07 17:03] molfar opened #1326 "Missing options for ol list"
Actions helper always renders ol list inside fieldset. Is would be useful to make actions helper accepts html options for ol tag.

https://github.com/formtastic/formtastic/blob/69a01f0b5654cf46b4067a35ee7845afbd6daee4/lib/formtastic/helpers/fieldset_wrapper.rb#L44

[2021-01-13 15:42] IrinaBron opened #1327 "maxlength 4 for integer attributes error"
Hi,

I'm running into this closed issue again when I try to cast an int as another type. (https://github.com/formtastic/formtastic/issues/728).  This seems to have coincided with upgrading Rails to 5.2.4.4.

ex:  `f.input :value,   as: :string `

To bypass this, I've been manually adding `input_html: { maxlength: "" }` to each input as a temporary fix.

Specs:
Rails 5.2.4.4
Ruby 2.5.8p224
ActiveAd

[2021-01-28 20:13] pduersteler opened #1333 "Fieldset legend class configuration"
I'm not sure if I just could not find it or if it is indeed something that I'd consider to be a missing thing, so I though I just put it up here and see what happens.

Right now, the formtastic configurations and custom input class possibilities allow for customizing almost anything, which is great. What I am currently looking for is an option to define a default class for the fieldset/legend that

[2021-01-28 22:06] pduersteler commented on #1318
I just stumbled upon the same thing. My case is that I have a `User` model with a multi-step onboarding wizard where I validate the fields based on the current step the user is in. There are multiple edit views for the user that split up form fields by their logic (e. g. address, profile information).

[code]

This will render the `name` field in a form as "optional" because the context is missing

[2021-01-31 22:08] asadakbar commented on #482
I know its been a while for this issue but updating for others that come across this. I hit this inconsistency and solved it with `label: ""`. Its a hack but I wanted to independently handle the label and this was the only way to get the boolean input to stop showing the built in label.

[2021-02-10 15:23] norman commented on #1325
Thank you for pushing out the release @deivid-rodriguez! I'll close this issue now.

[2021-02-10 15:23] #1325 closed

[2021-02-13 23:10] asadakbar commented on #1166
@treble37 How did you solve this? For some reason I can't get double nested semantic_fields_for to work.

[2021-03-02 15:16] Aebrathia commented on #1326
This would be great. At least allowing to add classes to the ol element would be friendlier to people using utility classes or BEM.

[2021-05-17 13:44] denys-husiev-perfectial opened #1341 "Unable to find input class EncryptedInput Error"
Hello.
After updating formtastic from 3.1.5 to 4.0.0 I have the following error: `Unable to find input class EncryptedInput`
It appears for field which is `encrypted` in ActiveRecord model
[code]
[code]

It is fixed when I explicitly specify `form.input :field_name, label: "Field", as: :string`.
As I understand, the error appears because of updated method `Formtastic::Helpers::InputHelper#column_f

[2021-06-01 06:25] mikz commented on #1341
Hi,

I think thats intended. Formtastic 4 understands Rails 5+ Attributes API. Formtastic 3 didn't, so it defaulted to strings.

This allows you for example to define an attribute `attribute :check, :boolean` and be rendered as a checkbox. It is like you'd have a column in database of type `encrypted`. Formtastic behaves the same for these virtual attributes as for real ones.

This also allows you

[2021-06-01 06:31] mikz commented on #1333
I know it is a poor substitute, but could you create your own semantic form builder and override:

https://github.com/formtastic/formtastic/blob/60fb31ea55af13b8f568673755588578514d59e1/lib/formtastic/helpers/fieldset_wrapper.rb#L51-L57

And the same applies for fieldset/ol https://github.com/formtastic/formtastic/blob/60fb31ea55af13b8f568673755588578514d59e1/lib/formtastic/helpers/fieldset_wrappe

[2021-06-01 06:33] mikz commented on #1326
https://github.com/formtastic/formtastic/issues/1333 is basically the same problem. I think trying to override these methods to figure out the requirements you guys have would be a good start.

[2021-06-01 06:35] mikz commented on #1319
I see your SO question is marked as solved, closing the issue.

[2021-06-01 06:35] #1319 closed

[2021-06-01 06:45] mikz commented on #1318
Ok, and how would you want the form to look like?

[code]

Or do it per input? Or for some inputs at ones?

I think this could make sense if done properly, so it also makes it easier for you to hook into determining what is required.

Maybe extracting the this: https://github.com/formtastic/formtastic/blob/69a01f0b5654cf46b4067a35ee7845afbd6daee4/lib/formtastic/inputs/base/validations.rb#L136-L151

[2021-06-01 07:04] pduersteler commented on #1333
Thanks, this works so far!

[2021-10-26 17:08] ahmedmathlouthi opened #1346 "Unable to translate model errors full_messages"
Hello.
I figured out that the translation doesn't work when there's a validation error on the model attribute.
When I set `config.i18n.default_locale = :en` in application.rb it shows the error message in english however when i change the language the error message doesnt update.
I'm using activeadmin 2.9 and formtastic 4.0.
For changing the language I'm setting a method `config.before_action :set

[2021-11-04 14:58] yjukaku opened #1347 "Formtastic removes `namespace` option from non-formtastic inputs"
Hello, thanks for your work on this gem.

We're running into an issue where our form's `namespace` is being set correctly only on fields that use formtastic's `f.input`  method. An example is probably the best way to explain:

[code]

I understand that formtastic's code for `semantic_form_for `is doing an `custom_namespace = options.delete(:namespace)`, which removes the namespace when it delegate

[2021-11-26 16:37] dfsklar opened #1348 "Capturing/restoring user's choices/entries"
The README for this project does not provide any info on features that are "downstream" from the display of the HTML form itself -- i.e. capturing the user's choices/entries *and* allowing a user to revisit a form and see their previous choices/entries already selected/displayed in the HTML form.

I.e. I'm looking to build the type of "survey" that allows a user to "save current state" but later c

[2021-12-03 20:58] Meryldominguez opened #1349 "Multiline hints"
Is there a way to do this?
adding an escaped newline "\n"  in the hint string doesn't work. Im imagining:
`:hint => ["hint1", "hint2"]`

[2021-12-30 20:43] dkniffin opened #1350 "aria-label for date_select"
I might be missing something, but I believe there is currently no way to set `aria-label` for a `date_select` input. If I'm reading the code correctly, [this](https://github.com/formtastic/formtastic/blob/master/lib/formtastic/inputs/base/timeish.rb#L168-L171) is the method for determining the HTML options for those select inputs, and I don't see any way to change each input separately.

Assuming

[2022-02-28 21:18] Adeynack commented on #171
@jtomaszewski : I have the problem with that approach that the field in question is set to `nil` on submit. Did you have to mitigate that when you used your `ReadonlyInput`?

[2022-04-19 19:59] lostapathy commented on #1318
Just stumbled into wanting this myself.  Yes, the example syntax floated above by @mikz seems like it'd be great.

[2022-10-19 03:15] Uelb commented on #1349
@Meryldominguez Have you found a way to do it ?